<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h1>Delete User</h1>
    <form action="/deleteuser" method="POST">
        <label for="username">Select User:</label>
        <select name="username" id="username">
            {{#users}}
            <option value="{{username}}">{{username}}</option>
            {{/users}}
        </select>
        <button type="submit">Delete User</button>
    </form>
</body>
</html>
