<html>
<head>
    {{>header}}
</head>
<body>
{{>body}}
{{>adminnav}}
<div class = "object-fit-fill w-100"
         style = "background-image: url('/pantrySign.jpg'); 
                  background-repeat: no-repeat; 
                  background-size: 100%;
                  height:40%;">
        </div>
<div class = 'container'>
<h2>Add New Users</h2>
<div class="card">
    <div class="card-body">
   <form method="post" action="/adminPostNewPantry">
    <div class="form-group">
        {{user-name-error}}
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" required>
    </div>
   <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" name="role" id="role" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
            <option value = "pantry">Pantry</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password (8 characters minimum)</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" minlength="8" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-success my-3">
    </div>
</form>

    </div>
  </div>
</div>
</body>
</html>