<html>
    <head>
        {{>header}}
    </head>
    <body>
    {{>body}}
        {{>navbar}}
        
        <div class = "object-fit-fill w-100"
         style = "background-image: url('/pantrySign.jpg'); 
                  background-repeat: no-repeat; 
                  background-size: 100%;
                  height:40%;">
        </div>
        <h1 class = 'mx-3 text-center'>{{title}}</h1>
        <div class = 'mx-3 text-center'>
        <div  class = 'mx-5 p-5'>
        <p>The scottish pantry networks goal is to help reduce food waste and also aid families in need at the same time for the low cost. 
            Our goals are to help the enviroment by reducing food waste, provide food security for those in poverty and aid in comunity development. 
            We do this throuh our pantry networks across scotland. While our journey began in glasgow we are now expanding across scotland and hope to be in every city.</p>
        </div>
            <h2>Meet our lovely volenteers in Ruchazie pantry</h2>
            <img src="/volenteer1.jpg" alt="volenteer" style = "width: 25rem">
            <img src="/volenteer2.jpg" alt="volenteer" style = "width: 25rem">
            <img src="/volenteer3.jpg" alt="volenteer" style = "width: 25rem">
            <div class = 'w-100 text-white mt-3' style = 'background-color: #3C6268'>
            <h2 class = 'mt-3'>All Donations are Welcome!</h2>
            <div class = 'mt-3 mx-5 p-5'><p>All pantries accross scotland are willing to accept donations of any kind, from food, to hygene products and child toys. 
        Help make a difference and make a donation to your local pantry</p></div>
        <img src="/shelves.jpg" alt="shelves" style = 'width:50rem;'>
        </div>
        </div>
        
        </body>
        </html>