<html>
    <head>
        {{>header}}
    </head>
    <body>
    {{>body}}
        {{>navbarPre}}
        
        <div class = "object-fit-fill w-100"
         style = "background-image: url('/pantrySign.jpg'); 
                  background-repeat: no-repeat; 
                  background-size: 100%;
                  height:40%;">
        </div>
        <h1 class = 'mx-3'>{{title}}</h1>
        <div>
        <p>The scottish pantry networks goal is to help reduce food waste and also aid families in need at the same time for the low cost </p>
        </div>
        </body>
        </html>